

<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Fake Shop</a>
    <form class="d-flex" role="search">

      <button routerLink="/buy" class="btn btn-outline-secondary" type="submit" (click)="onSelected(checkOutData)">Buy</button>
    </form>
  </div>
</nav>

<div class="container">
<div class="row">
    <div class="card" style="width: 300px;" *ngFor="let content of checkOutData">
        <img src="assets\table.jpeg">
        <div class="card-body text-center align-items-center" >
            <h5 class="card-title">{{content.title}}</h5>
            <span>{{content.price | currency :'$'}} </span>
            <p class="card-text">{{content.description}}</p>
        </div>
        <!-- <button  routerLink="/buy" type="button" class="btn btn-danger"(click)="onSelected(checkOutData)" >Buy</button> -->

    </div>

    </div>
    <button  routerLink="/buy" type="button" class="btn btn-danger down"(click)="onSelected(checkOutData)" >Buy</button>
    <h2> Total Amount: ${{totalAmount}}</h2>

  </div>
<router-outlet></router-outlet>
