.navbar-brand{
  font-size: x-large;
}

.down{
  position: relative;
  margin:50px;
  padding: 15px;
  width: 15%;
}


.container{
  text-align: center;
}

.card{
  border: 1px solid black;
  margin: 10px;
}
