<div class="row">
  <div class="card">
    <div *ngFor="let category of categories">
      <a (click)="categoriesProduct(category)"><p class="hover-underline-animation">{{category}}</p></a>
      <!-- <h4>
        All categories
      </h4>
      <h6>Tables
      </h6>
      <h6>Chairs

      </h6> -->

      <!-- <ul *ngFor="let category of categories">
        <a (click)="categoriesProduct(category)"><li class="active">{{category}}</li></a>

      </ul> -->
    </div>

  </div>



<div class="col">
  <app-product-item [selectedCategory]="categorySelected"></app-product-item>
</div>
</div>
