
<div class="row" *ngIf="!isLoading">
<div class="col-md-5" *ngFor="let content of data">
  <div class="card polaroid">
  <div *ngIf="selectedCategory ===content.category || selectedCategory ==='All Categories' || selectedCategory === '';">
  <div class="card" >
  <img class="bd-placeholder-img" width="100%"
    src="assets\table.jpeg" />
  </div>
  <div class="card-body" >

    <p class="card-title">
      <strong>{{content.title}}</strong>
     </p>
    <p class="card-text">
     <strong>{{ content.price | currency:'$' }}</strong>
    </p>
    <p class="card-text">{{content.description}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="mx-auto justify-content-center ">
        <button type="button" class="btn btn-sm btn-outline-primary"
        (click)="addToCart(content)"
        >Add to Cart</button>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

