 <app-nav></app-nav>

<div class="container">



  <main>
    <!-- <div class="col-lg-4"> -->

      <!-- <app-filters></app-filters> -->

    <!-- </div> -->
    <div class="columns">
      <article class="cards">
      <div class="content col-lg-4">
        <app-filters></app-filters>
        <!-- <app-product-item></app-product-item> -->
      </div>


    </article>
  </div>
</main>


</div>








  <!-- <div class="row">
    <div class="col">
    <app-header></app-header>
  </div> -->


<!-- <div class="row">
  <div class="col">
<div class="row">
  <div class="col-lg-4">
   <app-filters></app-filters>

  </div>
</div>

<div class="row">
  <div class="col-lg-4">
   <app-product-item></app-product-item>

  </div>
</div>
</div>
</div> -->

<!-- <div class="row">
  <div class="col">
<app-footer></app-footer>

  </div>

</div> -->

<!-- </div> -->
